.container {
    margin-top: 7vh;
   
}

.title{
text-align: center;
font-size: 2.5rem;
}

form{ 
    margin-top: 2vh;
}

.col-2, .col-8, .col-3{
    padding-left: 0px;
    padding-right: 0px;
}


.search {
    width: 100%;
}

.library{
    margin-bottom: 2vh;
}

.collectionBtn, .seenBtn {
   width: 100%;
   
}


.saverow {
    /* margin-top: 0.5vh; */
    margin-bottom: 1.5vh;

}
.saveBtn {
   
    margin-top: 3vh;
    width: 50%;
    
}

